body {
    background-color: white;
    margin: 0 24px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 64px;
}

nav li {
    margin: 0 10px;
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}